.app {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

.dark.app {
	background: #444448;
}

.light.app {
	background: #ddd;
}

/* Floating Action Button
   ========================================================================== */

.fab {
	background: #6d74e2;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px, rgba(0, 0, 0, 0.25) 0px 3px 10px;
	border-radius: 50%;
	display: block;
	position: fixed !important;
	bottom: 24px;
	right: 24px;
	line-height: 48px;
	text-align: center;
	height: 56px;
	width: 56px;
	transition: all .3s ease-in-out;
}

.fab:hover,
.fab:focus {
	background: #969cff;
}

.fab.tooltipped-w:after {
	margin-right: 10px;
}

.fab.tooltipped-w:before {
	left: -10px
}

.fab-icon {
	color: white;
	height: 24px;
	width: 24px;
}

/* Scrollbar
   ========================================================================== */

.app {
	::-webkit-scrollbar {
	  width: 12px;
	}

	::-webkit-scrollbar:horizontal {
	  height: 12px;
	}

	::-webkit-scrollbar-thumb {
	  transition: all 0.3s ease-in-out;
	  border-radius: 12px;
	}
}

.dark.app {
	::-webkit-scrollbar-track {
		background-color: #222426;
	}

	::-webkit-scrollbar-track:vertical {
		border-left: 1px solid #303236;
	}

	::-webkit-scrollbar-track:horizontal {
		border-top: 1px solid #303236;
	}

	::-webkit-scrollbar {
		background-color: #222426;
	}

	::-webkit-scrollbar-thumb {
	  background-color: #666;
	  border: 1px solid #222426;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #888;
	}

	::-webkit-scrollbar-corner {
	  background-color: #222426;
	}
}

.light.app {
	::-webkit-scrollbar-track {
		background-color: white;
	}

	::-webkit-scrollbar-track:vertical {
		border-left: 1px solid #eee;
	}

	::-webkit-scrollbar-track:horizontal {
		border-top: 1px solid #eee;
	}

	::-webkit-scrollbar {
		background-color: white;
	}

	::-webkit-scrollbar-thumb {
	  background-color: #999;
	  border: 1px solid #ddd;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #888;
	}

	::-webkit-scrollbar-corner {
	  background-color: #ddd;
	}
}