.auth {
	display: flex;
	align-items: center;
	justify-content: center;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(top, #13131E, #36354F);
    background-image: linear-gradient(to bottom, #13131E, #36354F);
    background-color: #36354F;
    min-height: 100%;
}