.columns {
    font-size: 0;
    height: calc(100vh - 12px);
    overflow: visible;
    padding: 6px 0 6px 6px;
    white-space: nowrap;
    flex: 1;
}

.column {
    background: #222426;
    display: inline-block;
    font-size: 1rem;
    height: 100%;
    margin: 0 6px 0 0;
    overflow-x: hidden;
    white-space: normal;
    width: 310px;
    position: relative;
}

.column-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.column-header {
    background: #303236;
    box-sizing: border-box;
    height: 45px;
    padding: 12px 12px 10px;
}

.column-header-title {
    color: rgb(221, 221, 221);
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    word-wrap: normal;
}

.column-header .octicon {
    font-size: 20px;
    margin-right: 3px;
    position: relative;
    top: 1px;
}

.column-content {
    height: calc(100vh - 57px);
    position: relative;
    top: 50px;
    left: 0;
    top: 0;
}