.column {
    background: #222426;
    display: inline-block;
    font-size: 1rem;
    height: 100%;
    margin: 0 6px 0 0;
    white-space: normal;
    width: 310px;
    position: relative;
}

.column-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.column-header {
    background: #303236;
    box-sizing: border-box;
    height: 45px;
    padding: 12px 12px 10px;
}

.column-header-title {
    color: rgb(221, 221, 221);
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    word-wrap: normal;
}

.column-header-title .octicon {
    font-size: 21px;
    margin-right: 8px;
}

.column-header-title .octicon-x {
    color: #999;
    cursor: pointer;
    font-size: 18px;
    margin: 2px 0 0;
    position: absolute;
    right: 0;
    transition: color 0.3s ease-in-out;
}

.column-header-title .octicon-x:hover,
.column-header-title .octicon-x:focus {
    color: #ddd;
}

.column-content {
    height: calc(100vh - 7px);
    position: relative;
    top: 50px;
    left: 0;
    top: 0;
}

.column-placeholder {
    color: rgb(221, 221, 221);
    height: 100%;
}

.column-loading:after {
  content: '.';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
    }
    40% {
        color: white;
        text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
    }
    60% {
        text-shadow: .25em 0 0 white, .5em 0 0 rgba(0,0,0,0);
    }
    80%, 100% {
        text-shadow: .25em 0 0 white, .5em 0 0 white;
    }
}