.columns {
    font-size: 0;
    height: 100vh;
    left: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 6px 0 6px 6px;
    position: absolute;
    white-space: nowrap;
    width: ~"calc(100% - 50px)";
}

.columns-blank {
	text-align: center;
	flex-direction: column;
}

.columns-blank-icon {
	font-size: 70px;
}

.columns-blank-title {
	font-size: 16px;
}

.columns-blank-btn {
	font-size: 16px;
	font-weight: 600;
	margin-top: 5px;
}

.columns-blank-btn:focus {
	border-color: #b3b3b3;
}