.event {
    align-items: flex-start;
    background: transparent;
    border-bottom: 3px solid #303236;
    border-radius: 3px;
    color: rgb(221, 221, 221);
    display: flex;
    padding: .8em 1.4em 1.4em 1em;
    position: relative;
}

.event-image {
    background: white;
    border-radius: 3px;
    display: block;
    height: 40px;
    margin-right: 1em;
    margin-top: .2em;
    width: 40px;
}

.event-body {
    flex: 1;
    font-size: 14px;
}

.event-text {
    margin: 0;
    line-height: 18px;
    word-break: break-word;
}

.event-link {
    color: #AFB4FF;
}

.event-link:hover,
.event-link:focus {
    text-decoration: none;
}

.event-link:hover {
    border-bottom: 1px solid #AFB4FF;
    color: #AFB4FF;
}

.event-footer {
    color: #a0a0a0;
    font-size: 12px;
    margin-top: 3px;
}

.event .event-icon {
    bottom: 8px;
    color: #444448;
    font-size: 24px;
    position: absolute;
    right: 16px;
    width: 24px;
    text-align: center;
}