.home {
    background-image: -webkit-linear-gradient(top, #13131E, #36354F);
    background-image: linear-gradient(to bottom, #13131E, #36354F);
    background-color: #36354F;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.home-container {
    display: block;
    margin: 50px auto 0;
    max-width: 530px;
    flex: 1;
    padding: 0 20px;
}

.home-logo {
    display: block;
    margin: 0 auto 20px;
}

.home-title,
.home-subtitle {
    margin: 0;
    text-align: center;
    z-index: 1;
    position: relative;
}

.home-title {
    color: #fff;
    font-size: 72px;
    font-weight: 100;
    font-family: 'Patua One', cursive;
}

.home-subtitle {
    color: #AFB4FF;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.6em;
    margin-top: 16px;
}

.home-btn {
    background: none;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 36px auto;
    padding: .75em 1.15em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: 280px;
    transition: all 0.3s ease-in-out;
}

.home-btn .octicon {
    color: #fff;
    font-size: 32px;
    margin-right: 5px;
    transition: all 0.3s ease-in-out;
}

.home-btn:hover,
.home-btn:focus {
    background: #fff;
    color: #735CDC;
}

.home-btn:hover .octicon,
.home-btn:focus .octicon {
    color: #735CDC;
}

.home-sublink {
    color: white;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 36px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.home-footer {
    box-shadow: 0 -4px 0 0 #AFB4FF;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    height: 74px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    width: 100%;
}

.home-footer a {
    color: #fff;
}

.home-footer a:focus,
.home-footer a:hover, {
    color: #AFB4FF;
    text-decoration: none;
    border-bottom: 2px solid #AFB4FF;
}

.home-footer-container {
    max-width: 930px;
    margin: 0 auto;
    padding: 25px 0 0px;
    height: 45px;
}

.home-footer-copyright {
    float: left;
    margin: 0 30px;
}

.home-footer-nav {
    float: right;
    list-style: none;
    margin: 0 30px;
    padding: 0;
}

.home-footer-nav li {
    display: inline-block;
    margin-left: 20px;
}

@media screen and (max-width: 580px) {
    .home-footer {
        height: 120px;
    }

    .home-footer-nav {
        margin-top: 25px;
    }

    .home-footer-copyright,
    .home-footer-nav {
        float: none;
        text-align: center;
    }
}