.home {
    background-image: linear-gradient(to bottom, #13131E, #36354F);
    background-color: #36354F;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.home-container {
    display: block;
    flex: 1;
    margin: 0 auto;
    padding: 0 10px;
}

.home-logo {
    display: block;
    padding: 64px 0 24px;
    height: auto;
    margin: 0 auto;
}

.home-title,
.home-subtitle {
    margin: 0;
    text-align: center;
    z-index: 1;
    position: relative;
}

.home-title {
    color: #fff;
    font-size: 70px;
    font-family: 'Patua One', cursive;
}

.home-subtitle {
    color: #AFB4FF;
    font-family: 'Roboto', sans-serif;
    font-size: 1.9em;
    font-weight: 300;
    line-height: 1.6em;
    padding: 24px 0 32px;
}

.home-btn-container {
    text-align: center;
}

.home-btn {
    background: none;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 0 auto 12px;
    padding: .75em 1.15em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: 235px;
    transition: all 0.3s ease-in-out;
}

.home-btn .octicon {
    color: #fff;
    font-size: 32px;
    margin-right: 5px;
    position: relative;
    top: 1px;
    transition: all 0.3s ease-in-out;
}

.home-btn:hover,
.home-btn:focus {
    background: #fff;
    color: #735CDC;
}

.home-btn:hover .octicon,
.home-btn:focus .octicon {
    color: #735CDC;
}

.home-btn-divider {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    height: 68px;
    margin: 0 12px;
}

.home-subbtn {
    color: white;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0 0 6px;
}

.home-subbtn:first-child {
    font-size: 20px;
    margin-bottom: 12px;
}

.home-subbtn:last-child {
    margin-bottom: 36px;
}

.home-subbtn a {
    border-bottom: 2px solid transparent;
    color: white;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.home-subbtn a:focus,
.home-subbtn a:hover {
    color: #AFB4FF;
    text-decoration: none;
    border-bottom: 2px solid #AFB4FF;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.home-footer {
    box-shadow: 0 -4px 0 0 #AFB4FF;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    height: 74px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    width: 100%;
}

.home-footer a {
    border-bottom: 2px solid transparent;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.home-footer a:focus,
.home-footer a:hover, {
    color: #AFB4FF;
    text-decoration: none;
    border-bottom: 2px solid #AFB4FF;
}

.home-footer-container {
    max-width: 930px;
    margin: 0 auto;
    padding: 25px 0 0px;
    height: 45px;
}

.home-footer-copyright {
    float: left;
    line-height: 30px;
    margin: 0 30px;
}

.home-footer-nav {
    float: right;
    list-style: none;
    line-height: 30px;
    margin: 0 30px;
    padding: 0;
}

.home-footer-nav li {
    display: inline-block;
    margin-left: 20px;
}

@media screen and (max-width: 555px) {
    .home-btn {
        display: block;
    }

    .home-btn:first-child {
        margin-bottom: 0;
    }

    .home-btn-divider {
        display: block;
        height: 30px;
        margin: 12px 0;
    }

    .home-footer {
        height: 140px;
    }

    .home-footer-nav {
        margin-top: 25px;
    }

    .home-footer-copyright,
    .home-footer-nav {
        float: none;
        text-align: center;
    }
}