@import url(https://fonts.googleapis.com/css?family=Patua+One|Roboto:400,700,300);

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
}

#wrapper {
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

@import "styles/home";
@import "styles/nav";
@import "styles/column";
@import "styles/event";
@import "styles/app";

@import "node_modules/octicons/octicons/octicons";
@import "node_modules/elemental/less/components/Modal";
@import "node_modules/elemental/less/mixins/vendor-prefixes";
@import "node_modules/elemental/less/variables";

@modal-backdrop-bg: rgba(0, 0, 0, .9);