html {
    height: 100%;
    overflow: hidden;
}

body {
    background: #444448;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}