body {
    margin: 0;
    padding: 0;
    background: #444448;
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

.columns {
    font-size: 0;
    height: 100%;
    overflow: visible;
    padding: 6px 0 6px 6px;
    white-space: nowrap;
}

.column {
    background: #222426;
    display: inline-block;
    font-size: 1rem;
    height: 100%;
    margin: 0 6px 0 0;
    overflow: hidden;
    white-space: normal;
    width: 310px;
}

.column-header {
    background: #303236;
    padding: 12px 12px 10px;
}

.column-header-title {
    color: rgb(221, 221, 221);
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    word-wrap: normal;
}

.column-content {
    height: 100vh;
}

.card {
    background: transparent;
    border-radius: 3px;
    color: white;
    padding: .8em 1em;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;
    border-bottom: 3px solid #303236;
}

.card-image {
    display: block;
    width: 40px;
    height: auto;
    margin-top: .2em;
    margin-right: 1em;
    border-radius: 3px;
}

.card-body {
    flex: 1;
    font-size: 14px;
}

.card-body p {
    margin: 0;
}