/*@import url(https://fonts.googleapis.com/css?family=Patua+One|Roboto:400,700,300);*/

html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
}

#wrapper {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}