@import "node_modules/elemental/less/base";
@import "node_modules/elemental/less/components";
@import "node_modules/elemental/less/mixins";
@import "node_modules/elemental/less/utils";
@import "node_modules/elemental/less/variables";

@app-primary: #7C84FF;

@import url(https://fonts.googleapis.com/css?family=Patua+One|Roboto:400,700,300);

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
}

button:focus {
    outline: 0;
}

#wrapper {
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

@import "styles/home";
@import "styles/nav";
@import "styles/column";
@import "styles/event";
@import "styles/app";
@import "styles/add";
@import "styles/auth";
